// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

// src/css/quasar.variables.scss

$primary: #3c3246;
$secondary: #5a78ff;
$accent: #9c27b0;

$dark: #312939;
$dark-page: #413961;

$positive: #4bff96;
$negative: #ff645a;
$info: #6158a4;
$warning: #ff645a;

$button-border-radius: 40px;
$button-font-size: 14px;
$button-font-weight: 700;

$input-text-color: #504678;
